<h1 class="text-center">Nos voitures</h1>

<div class="d-flex justify-content-between flex-wrap text-center text-decoration-none" style="text-decoration:none">
  <% @cars.each do |car| %>
    <%= link_to car_path(car) do  %>
      <div class="card text-decoration-none"style="width: 18rem; margin: 8px;">
        <p class="text-decoration-none"><%= car.brand.capitalize %> <%= car.model %></p>
      </div>
    <% end %>
  <% end %>
</div>
